h1, p {
    user-select: none
}
.stone {
    position: absolute;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
}
  
.stone[value="off"] { border: 2px dashed black; }
#yellow {
    left: 6%;
    top: 20%;
    background-color: #D4C464;
}
#green {
    left: 12%;
    top: 20%;
    background-color: #70D372;
}
#blue {
    left: 18%;
    top: 20%;
    background-color: #3884D1;
}
#red {
    left: 24%;
    top: 20%;
    background-color: #C74757;
}
#pink {
    left: 30%;
    top: 20%;
    background-color: #C95F7C;
}
#purple {
    left: 36%;
    top: 20%;
    background-color: #9B54D0;
}