body {
    padding: 1% 5%;
}
h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2%;
}
.content {
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid white;
    align-items: center;
    padding: 1%;
}
.list .movie{
    padding: 5% 0;
    margin: 1% 0;
    border-radius: 0 10px 10px 0;
    color: black;
    width: 100%;
    text-align: center;
    
}
.list .movie:hover{
    background-color: greenyellow;
}
.block {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: fit-content;
    padding: 3%;
}
.block #info {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.block #info #title {
    font-size: 28px;
    text-align: start;
    margin: 0;
    padding: 0;
}
.block #info #date { 
    font-size: 14px;
    text-align: start;
    margin: 0;
    padding: 0;
}
.block #info #actors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px;
}
.block #info #actors span {
    font-size:  18px;
    background-color: #3a77cc;
    color: white;
    border-radius: 5px;
    padding: 2%;
    margin-right: 2%;
    margin-top: 1%;
}
.block #info #description {
    font-size: 18px;
    word-wrap: normal;
}
.block #poster {
    display: flex;
    width: 40%;
    margin-left: 5%;
}
.block #poster img {
    width: 100%;
    border-radius: 0 10px 10px 0;
}