body {
    background: white;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cadetblue;
    box-shadow: 10px 5px 15px g;
    margin: 40px;
    border-radius: 20px 20px 0 0;
    min-width: 500px;
}
.city {
    background-color: skyblue;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.city_name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.forecast {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.forecast .day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 8px;
    background: rgb(241, 231, 213);
    color: white;
    padding: 65px 25px;
    margin: 10px
}
img {
    width: 100px;
}
.date, .temp {
    color:black;
    font-size: 22px;
}
.forecast #card span {
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    cursor: default;
}