.info {
    position: sticky;
    top: 0;
    right: 0;
}
.info label {
    background: #EB3323;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list div {
    display: flex;
    margin-top: 25px;
}
.img {
    min-height: 200px;
}