body {
    background: #3CA55C;
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
    background: linear-gradient(to right, #B5AC49, #3CA55C);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login_page, .logout_page {

    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 2% 0;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(54, 138, 138, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button {
    padding: 2.5% 5.5%;
    border: none;
    border-radius: 8px;
    background-color: #449DF2;
    color: white;
}

form span {
    font-weight: 400;
    font-size: 1em;
    text-align: start;
    margin-bottom: 2%;
    color: rgb(15, 39, 107);
    margin: 3%;
}
form input {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 4%;
    margin-bottom: 3%;
}
span {
    margin-top: 5px;
    padding-left: 3px;
}
#error{
    color: rgb(255, 0, 0);
    text-align: center;
}
.status {
    margin-bottom: 15px;
}

.user {
    color:rgb(0, 96, 221);
}

.admin {
    color:rgb(206, 123, 0);
}

.hidden {
    display: none;
}
