*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 10px;
    background: linear-gradient(to right, #b5d408, #00ffc8);
    position: relative;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    transition: background-color .2s ease;
}

.calculator-grid > button:hover {
    background-color: rgba(167, 255, 25, 0.411);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 2.5rem;
}
#custom-tooltip {
    visibility: hidden;
    padding: 5px 12px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
}
.more {
    position: absolute;
    margin-top: 18px;
    top: 0;
    left: calc(50% - 620px);
    display: none;
}

.more.active {
    display: grid;
}

img {
    width: 60px;
}

.kg-display, .length-display, .area-display {
    width: 300px;
    position: fixed;
    right: 150px;
    top: 150px;
    display: none;
}

.kg-display.active, .length-display.active, .area-display.active {
    display: block;
}

.kg-display input, .length-display input, .area-display input{
    width: 300px;
    text-align: start;
    font-size: 1rem;
    border: 1px solid white;
    height: 40px;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    color: #000;
    margin-bottom: 0;
    padding-left: 10px;
    text-align-last: left;
}

.kg-display input::placeholder, .length-display input::placeholder, .area-display input::placeholder {
    color: #000;
}

label {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
}

.group {
    font-size: 1.1rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    color: #000;
    margin-bottom: 30px;
}

.length-display .group {
    margin-bottom: 10px;
}

.group div {
    padding: 15px 0 15px 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
}

.group p {
    padding-left: 10px;
}