h1 {
    margin: 30px 0 80px 70px;
}
.box {
    position: relative;
    width: calc(100vw - 240px); /*40 px for padding*/
    background: #DDDDDD;
    margin: auto;
    padding: 20px 20px;
}
.box::before {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% + 50px);
    top: -25px;
    left: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.box::after {
    position: absolute;
    content: "";
    width: calc(100% + 50px);
    height: 100%;
    top: -1px;
    left: -25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
