.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 90%;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    padding: 2.5% 5.5%;
    border: none;
    border-radius: 8px;
    background-color: #449DF2;
    color: white;
}

.form, .archive {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 2% 0;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.form span, .archive span {
    font-weight: 400;
    font-size: 1em;
    text-align: start;
    margin-bottom: 2%;
    color: rgb(15, 39, 107);
}
.form input {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 3%;
}

.form textarea {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 1%;
}
#output {
    font-weight: 400;
    font-size: .8em;
    background: white;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: default;
}
#output:enabled {
    outline: none;
}