form { 
    display: flex; 
    flex-flow: row; 
    align-items: center; 
} 
input{ 
    box-sizing: border-box; 
    height: 2em; 
    padding: 0px 10px; 
    color: green; 
}
input:hover { 
    color: red; 
} 
#_input { 
    width: 100%; 
} 
#_button { 
    text-align: center; 
} 